@media screen and (min-width: 768px) and (max-width: 1280px){
    .flex{
        width: 768px;
        height: 828px;
        gap: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content{
        width: 720px;
        height: 303px;
        gap: 16px;
    }
    .content h2{
        font-size: 48px;
    }
    .list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
    }
    section ul{
        font-size: 20px;
    }
    iframe{
        width: 720px;
        height: 405px;
    }
}