@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-size: 20px;
}
.numbers{
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.active{
    color: white;
}
header{
    height: 12vh;
    background-color: goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header div h4{
    font-weight: 700;
}
header nav{
    width: 70%;
}
header nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.8s;
}
header nav ul a:hover{
    color: white;
    transition: 0.4s;
}
main{
    height: 88vh;
    background-image: url("pictures/watch_on_black.jpg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
main ul{
    margin: 20px;
}
main ul li{
    font-size: 25px;
}
main div{
    width: 30vw;
    height: 88vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
main div button{
    width: 30%;
    height: 6%;
    background-color: silver;
    font-size: 25px;
    border: none;
    /*border-radius: 10px;*/
    transition: 1s;
}
main div button:hover{
    transform: scale(1.1);
    transition: 1s;
}
.contact{
    height: 88vh;
    background-image: url("pictures/watch_mechanism.jpg");
    background-size: cover;
    display: block;
    padding: 20px;
}
.contact p{
    font-size: 25px;
}